/Self_project_Sudoku
/htmltuturialproject1
/images
/practicehtml
/project10_expenseTracker
/project11_GuessNumber
/project12_TicTocToe
/project13_Signature
/project14_PortFolio
/project15_TypingSpeedTracker
/project2csstutorial
/project3_tailwindCSS
/project4_JStutorial
/project5_JS2
/project6_KEYLOGGER
/project7_Forms
/project8_TODO_List
/project9_countdown
/simplilearn